<launch>
    <node pkg="unitree" type="go2_ros_bridge.py" name="go2_ros_bridge" output="screen" />

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
        <arg name="time" value="10" />
        <arg name="pkg" value="hdl_localization" />
        <arg name="file" value="hdl_localization.launch" />
        <arg name="node_name" value="timed_hdl" /> </include>

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
        <arg name="time" value="6" />
        <arg name="pkg" value="navigation" />
        <arg name="file" value="navigation.launch" />
        <arg name="node_name" value="timed_nav" />
    </include>

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
        <arg name="time" value="6" />
        <arg name="pkg" value="navigation_manager" />
        <arg name="file" value="start_nav_logic.launch" />
        <arg name="node_name" value="timed_nav_manager" />
    </include>

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
        <arg name="time" value="8" />
        <arg name="pkg" value="fastlivo2_bringup" />
        <arg name="file" value="fastlivo2_full.launch" />
        <arg name="node_name" value="timed_fast_lio" />
    </include>
</launch>